@model webapi.Models.Activity
@using Jmelosegui.Mvc.GoogleMap
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<webapi.Models.Activity> list = ViewBag.List;
    webapi.Models.Activity act = list.LastOrDefault();
}

<h2>Activity</h2>


<table class="t1">
    <tr>
        <th>Navn</th>
        <th>Beskrivelse</th>
        <th>Turens længde</th>
        <th>Oprettet af</th>
    </tr>

    @foreach (var item in list)
    {
        <tr onclick="Redirect(@item.ID);">
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Distance</td>
            <td>@item.UserID</td>
        </tr>
    }

</table>




<script>
    function Redirect(id) {
        //var latlng = new google.maps.LatLng(57.048820, 9.921747 );
        var latlng = { lat: 57.048820, lng: 9.929000 };
        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title: 'Hans'
        });
        google.maps.event.trigger(map, 'resize');
        //alert('hest');
    }
</script>



@*<div class="row">
        <div class="col-md-12">
            @(Html.GoogleMap()
                  .Name("map")
                  .Height(500)
                  .Width(500)
                  .FitToMarkersBounds(true)
                  .Markers(m =>
                  {
                      foreach (webapi.Models.Point p in act.Route.PointList)
                      {
                          m.Add().Longitude(p.Coords.X).Latitude(p.Coords.Y);
                      }
                  })
            )

        </div>
    </div>

    @section scripts
    {
        @(Html.GoogleMap().ScriptRegistrar())
    }*@


<div id="map">
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
            async defer>
    </script>
</div>


