@model webapi.Models.Activity
@using Jmelosegui.Mvc.GoogleMap
@using System.Web.Script.Serialization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<webapi.Models.Activity> list = ViewBag.List;
    JavaScriptSerializer ser = new JavaScriptSerializer();
}

<h2>Activity</h2>

<div id="table" class="col-1 col-md-6">
    <table class="table text-left table-hover">
        <thead>
            <tr>
                <th class="text-left">Navn</th>
                <th class="text-left">Beskrivelse</th>
                <th class="text-left">Turens længde</th>
                <th class="text-left">Oprettet af</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in list)
            {
                <tr onclick="AddMarkers(@ser.Serialize(item.Route.PointList))">
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Distance</td>
                    <td>@item.UserID</td>
                </tr>
            }
        </tbody>

    </table>
</div>




@*<button onclick="initMap()">WOOT</button>
<button onclick="clearOverlay()">clear</button>*@


@*<div class="row">
        <div class="col-md-12">
            @(Html.GoogleMap()
                  .Name("map")
                  .Height(500)
                  .Width(500)
                  .FitToMarkersBounds(true)
                  .Markers(m =>
                  {
                      foreach (webapi.Models.Point p in act.Route.PointList)
                      {
                          m.Add().Longitude(p.Coords.X).Latitude(p.Coords.Y);
                      }
                  })
            )

        </div>
    </div>

    @section scripts
    {
        @(Html.GoogleMap().ScriptRegistrar())
    }*@


<div class="col-1" id="map">
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
            async defer>
    </script>
</div>

