@model Models.User
@using System.Web.Script.Serialization

@{
    ViewBag.Title = "Details";
    Models.User user = ViewBag.User;
    var list = user.ActivityList;
    JavaScriptSerializer ser = new JavaScriptSerializer();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detaljer</h2>

<div>
    <h4>Bruger</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => user.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => user.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => user.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => user.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => user.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => user.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => user.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => user.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => user.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => user.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => user.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => user.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => user.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => user.Email)
        </dd>

        
    </dl>
</div>
<table class="table text-left table-hover" style="width: 50%">
    <thead>
        <tr>
            <th class="text-left">Navn</th>
            <th class="text-left">Beskrivelse</th>
            <th class="text-left">Turens længde</th>
            <th class="text-left">Oprettet af</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in list)
        {
            <tr onclick="AddMarkers(@ser.Serialize(item.Route.PointList))">
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Distance</td>
                <td>@item.UserID</td>
            </tr>
        }
    </tbody>

</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = user.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
